<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Iniciar sesión</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        <form th:action="@{/auth/logincheck}" method="POST" class="col-6 mx-auto">
          <div class="mb-3">
            <label for="nombre" class="form-label">Email de autenticación</label>
            <input type="text" class="form-control" name="email" placeholder="Ingrese el correo electrónico con el que se registró">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="contrasenia" placeholder="Ingrese su contraseña">
          </div>
          <button type="submit" class="btn-dark px-5 py-2 ms-auto"> Iniciar sesión </button>
          <br>
          <a class="olvidar-contra" th:href="@{/usuario/probando}" th:value="${username}">¿Olvidaste tu contraseña?</a>
          <p class="registrar">¿No tienes una cuenta? <a href="/auth/register">Registrate</a></p>
        </form>
    </body>
</html>
